@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 2em;
    text-transform: uppercase;
    width: 29%;
    border-bottom: 3px solid rgb(232, 236, 238);
    margin-left: 4%;
}

#contenedor{
    text-align:  center;
    margin: 0 auto;
}

img{  
    margin: 1%;
    width: 29%; 
    border: 3px solid black;
}

/**********************/
/******* EXTRAS *******/
/**********************/
img{ /* borde redondeado para las imágenes */ 
    border-radius: 10px;
}

img:hover{ /* cuando pasamos por encima de una imagen, se pone "transparente" */ 
    opacity: 0.5;
    transition: 0.3s;
}

#footer{ /* contenedor pie de página*/
    padding: 25px 50px 50px 50px ;
}

.copyright{ /* Colocamos el texto de Copyright a la derecha */ 
    position: relative;
    float: right;
}

.torna{ /* Colocamos el enlace "torna a la izquierda*/ 
    position: relative;
    float: left;
}

a{
    text-decoration: none; /* Quitamos subrayado del enlace*/
}